*{
    font-family: 'Benne', serif;
    text-align: center;
}

body{
    background-image: url(../img/Sin\ título-1.png);
}

h1{
    text-transform: capitalize;
    padding: 5px;
}

h2{
    margin: 5px;
}

h3{
    margin: 5px;
}

iframe{
    max-width: 100%;
}

input{
    display: block;
    width: 90%;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#textarea{
    width: 90%;
}

.botonRegistro{
    padding: 2px;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(73, 4, 154, 0.76);
}

.registro{
    display: inline-block;
    width: 20%;
    padding: 2px;
    font-size: 80%;
    position: absolute;
    left: 8px;
    top: 20px;
    display: flex;
    flex-direction: column;
}


p{
    text-align: center;
}   

header{
    background-color: black;
    color: white;
    width: 100%;
    padding-bottom: 1%;
}

nav{
    text-align: center;
    background-color: rgba(235, 83, 202, 0.88);
    color: white;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: stretch;
}

footer nav{
    background-color: rgb(235, 83, 202);
    position: top;
}

footer{
    background-color: rgb(12, 11, 12);
    text-align: center;
    color: white;
    padding: 1%;
    padding-top: 1%;
    font-size: 70%;
    margin-top: 10px;
}

#mapa{
    text-align: center;
}

#informacion{
    display: flex;
    flex-wrap: wrap;
}

#informacion p{
    padding: 5px;
    background-color: rgba(171, 46, 144, 0.71);
    border-radius: 5px;
    margin: 5px;
}

#informacion article{
    text-align: center;
    padding: 5px;
    margin: auto;
}

article input{
    max-width: 8%;
    border-radius: 100px;
    background: rgba(247, 154, 229, 0.77);   
}



#formulario{
    text-align: center;
    background-color: rgba(206, 160, 187, 0.496);
}

aside{
    background-color: rgba(187, 12, 187, 0.591);
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
}

#galeria img{
    max-width: 100%;
    border-radius: 15px;
}



@media screen and (min-width:47em) {
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-between;
        align-items: stretch;
    }
    
    aside{
        background-color: rgba(187, 12, 187, 0.591);
        max-width: 20%;
        text-align: center;
        border-radius: 5px;
        position: relative;
        left: 80%
    }
    
    #cuerpo{
        max-width: 78%;
        position: relative;
        right: 21%;
    }
    
    #galeria {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #galeria img{
        width: 30%;
        box-sizing: border-box;
    }
    
}
